---
---

@import "minimal-mistakes";  // Load the full theme first

/* Now add your custom styles below */
.author__avatar img {
  width: 400px !important;
  height: 400px !important;
  object-fit: cover;
}

