.post-list {
  list-style: none;
  padding: 0;
}

.post-list li {
  margin-bottom: 2em;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1em;
}

.post-list h3 {
  margin-bottom: 0.2em;
}

.post-list p {
  margin: 0.5em 0;
}
